<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis tasks using SQL queries with the RODBC R package. You will not be graded here, but you will be asked to present some of these results in your final assignment, where you will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your Db2 connection
Load the 'RODBC' library, and use the 'odbcConnect( )' function as you did in the previous lab to establish the connection to your Db2 assets.  
Provided you successfully loaded your data into the tables in that lab, you are now ready to start running SQL queries using the RODBC library as you did in Course 3.

In [1]:
# provide your solution here
library(RODBC)


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [2]:
# provide your solution here
# Load the dataset
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Determine the number of records
num_records <- nrow(seoul_bike_sharing)

# Print the number of records
print(num_records)

[1] 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [3]:
# provide your solution here
# Load the dataset
df <- read.csv("seoul_bike_sharing.csv")

# Step 2: Sum the values in the fourth column of the filtered DataFrame
sum_fourth_column <- sum(df[ ,4])

# Print the result
print(sum_fourth_column)

[1] 97407

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [4]:
# provide your solution here
# Load the dataset
# Read the CSV file
cities_weather_forecast <- read.csv("cities_weather_forecast.csv")
cities_weather_forecast [1, ]

  City  Temperature Condition
1 Seoul 30.10879    Cloudy

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [5]:
# Read the CSV file
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Identify duplicated values in the 'SEASONS' column
duplicated_seasons <- seoul_bike_sharing$SEASONS[duplicated(seoul_bike_sharing$SEASONS)]

# Remove duplicates to get unique values
unique_seasons <- unique(seoul_bike_sharing$SEASONS)

# Print the unique values in a table format
print(unique_seasons)

[1] Winter Spring Summer Autumn
Levels: Autumn Spring Summer Winter

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [6]:
# Read the CSV file
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Convert the DATE column to Date type with the appropriate format
seoul_bike_sharing$DATE <- as.Date(seoul_bike_sharing$DATE, format="%d/%m/%Y")

# Find the first and last date
first_date <- min(seoul_bike_sharing$DATE, na.rm=TRUE)
last_date <- max(seoul_bike_sharing$DATE, na.rm=TRUE)

# Print the results
print(paste("First date:", first_date))
print(paste("Last date:", last_date))

[1] "First date: 2017-12-01"
[1] "Last date: 2018-11-30"

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [7]:
# Read the CSV file into a data frame
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Find the maximum value in the RENTED_BIKE_COUNT column
max_rented_bike_count <- max(seoul_bike_sharing$RENTED_BIKE_COUNT, na.rm = TRUE)

# Print the result (if needed)
print(max_rented_bike_count)

[1] 3556

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [8]:
# Read the CSV file
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Compute the mean of TEMPERATURE and RENTED_BIKE_COUNT by SEASONS
result <- aggregate(cbind(TEMPERATURE, RENTED_BIKE_COUNT) ~ SEASONS, 
                    data = seoul_bike_sharing, 
                    FUN = mean)

# Print the result
print(result)

  SEASONS TEMPERATURE RENTED_BIKE_COUNT
1  Autumn   13.821580          924.1105
2  Spring   13.021685          746.2542
3  Summer   26.587711         1034.0734
4  Winter   -2.540463          225.5412

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season.

### Solution 8

In [9]:
# Read the CSV file
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Average hourly bike count
avg_bike_count <- aggregate(RENTED_BIKE_COUNT ~ SEASONS, 
                            data = seoul_bike_sharing, 
                            FUN = mean)

# Minimum hourly bike count
min_bike_count <- aggregate(RENTED_BIKE_COUNT ~ SEASONS, 
                            data = seoul_bike_sharing, 
                            FUN = min)

# Maximum hourly bike count
max_bike_count <- aggregate(RENTED_BIKE_COUNT ~ SEASONS, 
                            data = seoul_bike_sharing, 
                            FUN = max)

# Standard deviation of hourly bike count
sd_bike_count <- aggregate(RENTED_BIKE_COUNT ~ SEASONS, 
                           data = seoul_bike_sharing, 
                           FUN = sd)

# Merge all results into one data frame
result <- merge(avg_bike_count, min_bike_count, by = "SEASONS", suffixes = c("_mean", "_min"))
result <- merge(result, max_bike_count, by = "SEASONS")
result <- merge(result, sd_bike_count, by = "SEASONS")

# Rename the columns for clarity
colnames(result) <- c("SEASONS", "Average_Bike_Count", "Min_Bike_Count", "Max_Bike_Count", "SD_Bike_Count")

# Print the result
print(result)

  SEASONS Average_Bike_Count Min_Bike_Count Max_Bike_Count SD_Bike_Count
1  Autumn           924.1105              2           3298      617.5479
2  Spring           746.2542              2           3251      618.6680
3  Summer          1034.0734              9           3556      690.2448
4  Winter           225.5412              3            937      150.3722

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [10]:
# Read the CSV file
seoul_bike_sharing <- read.csv("seoul_bike_sharing.csv")

# Compute the average of various columns by SEASONS
result <- aggregate(cbind(TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, 
                          DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, 
                          SNOWFALL, RENTED_BIKE_COUNT) ~ SEASONS, 
                    data = seoul_bike_sharing, 
                    FUN = mean)

# Rename columns for clarity
colnames(result) <- c("SEASONS", "Average_Temperature", "Average_Humidity", 
                       "Average_Wind_Speed", "Average_Visibility", 
                       "Average_Dew_Point_Temperature", "Average_Solar_Radiation", 
                       "Average_Rainfall", "Average_Snowfall", "Average_Bike_Count")

# Rank the results by Average_Bike_Count
result <- result[order(-result$Average_Bike_Count), ]

# Print the result
print(result)

  SEASONS Average_Temperature Average_Humidity Average_Wind_Speed
3  Summer           26.587711         64.98143           1.609420
1  Autumn           13.821580         59.04491           1.492101
2  Spring           13.021685         58.75833           1.857778
4  Winter           -2.540463         49.74491           1.922685
  Average_Visibility Average_Dew_Point_Temperature Average_Solar_Radiation
3           1501.745                     18.750136               0.7612545
1           1558.174                      5.150594               0.5227827
2           1240.912                      4.091389               0.6803009
4           1445.987                    -12.416667               0.2981806
  Average_Rainfall Average_Snowfall Average_Bike_Count
3       0.25348732       0.00000000          1034.0734
1       0.11765617       0.06350026           924.1105
2       0.18694444       0.00000000           746.2542
4       0.03282407       0.24750000           225.5412

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [11]:
# Load necessary libraries
# No libraries required for base R approach

# Read the CSV files
world_cities <- read.csv("raw_worldcities.csv")
bike_sharing_systems <- read.csv("bike_sharing_systems.csv")

# Merge the two datasets on the CITY column
merged_data <- merge(world_cities, bike_sharing_systems, all.x = TRUE)

# Filter the merged data for Seoul
seoul_data <- merged_data[merged_data$CITY == "Seoul", ]

# Calculate the total number of bikes available in Seoul
total_bikes <- sum(seoul_data$TOTAL_BIKES, na.rm = TRUE)

# Select relevant columns and add total bikes to the data
result <- seoul_data[, c("CITY", "COUNTRY", "LAT", "LNG", "POPULATION")]

# Print the result
print(result)

       CITY     COUNTRY     LAT LNG POPULATION
21003 Seoul South Korea 37.5833 127   21794000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [12]:
# Read the CSV files
world_cities <- read.csv("raw_worldcities.csv")
bike_sharing_systems <- read.csv("bike_sharing_systems.csv")

# Merge the dataframes
df_joined <- merge(bike_sharing_systems, world_cities)

# Select relevant columns
result <- df_joined[, c("CITY", "COUNTRY", "LAT", "LNG", "POPULATION", "BICYCLES")]


# Filter rows based on 'BICYCLES' values
data <- result[!is.na(result["BICYCLES"]) & (df_joined["BICYCLES"] >= 15000) & (result["BICYCLES"] <= 20000), ]


# Print the result
print(data)

        CITY     COUNTRY     LAT      LNG POPULATION BICYCLES
32   Beijing       China 39.9050 116.3914   19433000    16000
60    Ningbo       China 29.8750 121.5492    7639000    15000
62  Shanghai       China 31.1667 121.4667   22120000    19165
67   Weifang       China 36.7167 119.1000    9373000    20000
76   Zhuzhou       China 27.8407 113.1469    3855609    20000
271    Seoul South Korea 37.5833 127.0000   21794000    20000

In [13]:
close(conn)

ERROR: Error in close(conn): object 'conn' not found

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Yan Luo, Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                |
| ---------- | ------- | ------------- | --------------------------------------------------------------------------------- |
| 2021-05-04 | 0.2     | Jeff Grossman | Finalize                               |
| 2021-04-22 | 0.2     | Jeff Grossman | Update as per peer review                               |
| 2021-04-10 | 0.2     | Jeff Grossman | Add data sources and implicit joins                                  |
| 2021-04-05 | 0.1     | Jeff Grossman | Start content creation                                                          |


## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>